<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Food Menu</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Welcome to my food menu!</h1>
    <a href="/food-items">
      <button class="food-items-link">Go to food items</button>
    </a>
  </body>
</html>
